.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

uploads/blog/*
!uploads/blog/index.html
!uploads/blog/thumbs
uploads/blog/thumbs/*
!uploads/blog/thumbs/index.html

uploads/category/*
!uploads/category/index.html
!uploads/category/thumbs
uploads/category/thumbs/*
!uploads/category/thumbs/index.html

uploads/cover/*
!uploads/cover/index.html
!uploads/cover/thumbs
uploads/cover/thumbs/*
!uploads/cover/thumbs/index.html

uploads/product/*
!uploads/product/index.html
!uploads/product/thumbs
uploads/product/thumbs/*
!uploads/product/thumbs/index.html